@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

html {
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-size: 1rem;
  font-family: 'Raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: #fff;
  background: #151515 url('../images/colorful-sunset-reflected-in-textured-beach-sand.jpg') no-repeat fixed left bottom;
  background-size: cover;
}
